@font-face {
    font-family: 'MyriadPro-BlackCond';
    src: url('../fonts/myriadpro-blackcond.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/myriadpro-blackcond.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/myriadpro-blackcond.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/myriadpro-blackcond.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/myriadpro-blackcond.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/myriadpro-blackcond.svg#myriadpro-blackcond') format('svg');
    /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'gliscor_gothicregular';
    src: url('../fonts/font2/gligoth-webfont.woff2') format('woff2'),
         url('../fonts/font2/gligoth-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*reset*/
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
/* *main##################################### */
     
        /* header */

        .header {
            position: relative;
            margin: 0 auto;
            width: 100vw;
        }

        .header .wrapper {
            width: 1000px;
                margin: 19px auto 0px;
            display: flex;
            justify-content: space-between;
            position: relative;
        }

        .logo {
            font-size: 18px;
            display: inline-block;
            position: relative;
            z-index: 5;
        }

        .logo_main {
            font-family: 'gliscor_gothicregular';
            /* font-family: 'Agency FB'; */
            font-size: 48px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 700;
            display: inline-block;
        }

        .logo_main .price {
            background-image: linear-gradient(0.0deg, #000000 0%, #464646 100%);
            color: #000000;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .logo_main .num {
            color: white;
            background-image: linear-gradient(0deg, transparent 17%, rgb(236, 20, 20) 0%, rgb(242, 108, 79) 84%, transparent 10%);
            border-radius: 0 21px 21px 0;
            padding: 0 2px 0 0px;
            margin-left: 7px;
        }

        .logo_text {
            font-family: Arial;
            font-size: 11px;
            line-height: 1.2;
            font-style: italic;
            color: #7d7d7d;
            display: inline-block;
            vertical-align: top;
            padding: 15px 0px 7px 4px;
        }

        .logo_text span:first-child {
            display: block;
        }

        .search {
            position: relative;
            z-index: 10;
            margin: 8px 0 0 0;
        }

        input[type="text"] {
            width: 214px;
            height: 32px;
            border-radius: 100px;
            border-image: linear-gradient(0deg, #b8b4b4, #e1dddd);
            border-image-slice: 1;
            border: 3px solid #b8b4b4;
            padding-left: 10px;
            outline: none;
            resize: none;
            -webkit-appearance: none;
            position: relative;
        }
        .search::before {
            content: "";
            width: 159px;
            height: 67px;
             background: url('../img/sprites.png') -10px -511px;
            position: absolute;
            top: 0;
            right: -20px;
        }
        .search::after{
            content: "";
            width: 15px;
            height: 12px;
            background: url('../img/sprites.png') -10px -33px;    
            position: absolute;
            top: 16px;
            right: 17px;
        }
        body {
            position: relative;
        }
        .nav .wrapper {
            margin: 18px auto;
            width: 1000px;
            overflow: hidden;
            border-radius: 4px;
            box-shadow: 0px -3px #01b6ef;
            position: relative;
            z-index: 5;
        }

        .menu {
            width: 100%;
            display: table;
            text-align: center;
            position: relative;
        }

        .menu li {
            background-image: linear-gradient(0.0deg, #0072bc 0%, #0b96ca 100%);
            display: table-cell;
        }

        .menu li a {
            display: block;
            font-family: Arial;
            font-size: 12px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            border-right: 1px solid #0b96ca;
            border-image: linear-gradient(0deg, transparent 13%, #0072bc 59%, #0687c4 78%, transparent 87%);
            border-image-slice: 1;
            padding: 11px 15px 12px;
            text-align: center;
        }


        .menu li a:focus {
            background-image: linear-gradient(to top, #098dd9 0%, #00bff3 100%);
            ;
        }

        .menu li a:hover {
            color: #fff200;
        }
        .menu li:first-child a {
            padding-left: 31px;
        }
        .menu li:last-child a{
            border-right: none;
            padding-right: 31px;
        }

        .sky{
            margin:  0 auto;
            position: relative;
            width: 1200px;

        }
        .sky::before {
            content: "";
            background: url('../img/sprites.png') no-repeat -10px -912px;
            position: absolute;
            width: 100vw;
            height: 168px;
            top: -119px;
            left: 0;
        }

        .photo_main {
            width: 1000px;
            height: 217px;
            margin: 27px auto 0px;
            position: relative;
            z-index: 5;
            box-shadow: #00000066 14px 98px 26px -90px;
        }
        .photo_main ul{
              display: flex;
              position: absolute;
              bottom: 20px;
              right: 19px;

        }
        .photo_main ul li{
            width: 13px;
            height: 13px;
            padding: 0 3px;
            background: radial-gradient(circle at 50% 50%,#f3f3f3 50%, transparent 0%);
        }
        .photo_main ul li:nth-child(2){
         background: radial-gradient(circle at 50% 50%, red 50%, transparent 50%);
        }

        .photo_main div::before{
            content: 'Lorem Ipsum это текст-"рыба"';
            width: 424px;
            height: 39px;
            top: 56px;
            right: 87px;
            position: absolute;
            color: white;
            font-size: 36px;
            text-transform: uppercase;
            font-family: 'MyriadPro-BlackCond';
        }

        .photo_main div+div::before {
            content: "Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное.";
            width: 450px;
            height: 48px;
            top: 107px;
            line-height: 17px;
            right: 61px;
            position: absolute;
            text-transform: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
}
        }
        .city{
            width: 100vw;
        }
        .city::before {
            content: "";
            background: url(../img/sprites.png) -10px -795px;
            position: absolute;
            width: 100vw;
            height: 97px;
            top: 209px;
            left: -25px;
        }

        .dop_menu {
            /* height: 105px; */
            padding-bottom: 19px ;
            width: 100vw; 
            display: flex;
            justify-content: center;
            background-image: linear-gradient(to top, #ebebeb 0%, #ffffff 100%);
        }

        .dop_menu ul {
            display: flex;
            width: 1000px;
        }

        .dop_menu ul li a {
            display: block;
            padding: 20px 0px 8px 130px;
            color: #0174bd;
            font-size: 14px;
            position: relative;
            font-family: Arial, Helvetica, sans-serif;
        }

        li span {
            color: #676767;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            display: block;
            padding: 0 0 0px 128px;
        }
         li span+span {
            
            padding: 0 0 30px 128px;
        }


        .dop_menu ul li a::after {
            content: "";
            background: url("../img/sprites.png") -10px -433px;
            top: 21px;
            left: 30px;
            width: 84px;
            height: 58px;
            position: absolute;
        }

        .dop_menu ul li+li a::after {
            content: "";
            background: url('../img/sprites.png')  -10px -598px;
            top: 21px;
            left: 30px;
            width: 69px;
            height: 67px;
            position: absolute;
        }

        .dop_menu ul li+li+li a::after {
            content: "";
            background: url('../img/sprites.png')  -10px -685px;
            top: 6px;
            left: 30px;
            width: 84px;
            height: 90px;
            position: absolute;
        }


        /*  ! main ############################################################### */
        .wrapper {
            display: flex;
            justify-content: center;
            margin: 24px 0px 0px 22px;
        }

        .column_one {
            width: 223px;
        }

        .column_two {
            width: 503px;
            padding: 0 27px;
        }

        .column_three {
            width: 223px;
        }

        .bottom_green {
            width: 223px;
            height: 33px;
            border: 2px solid #80e57b;
            border-radius: 10px;
            background: linear-gradient(0deg, #ececec, #ffffff);
            /* border-image: linear-gradient(#8be787, #77bd8a); */
            /* border-image-slice: 1; */
            position: relative;
            font-size: 12px;
        }

        .bottom_green a {
            padding: 13px 65px 12px 14px;
            display: block;
            color: #65b47a;
        }

        .bottom_green::before {
            content: "";
            top: -19px;
            right: 14px;
            width: 28px;
            height: 33px;
            background: url("../img/sprites.png") -10px -262px;
            position: absolute;
            z-index: 5;
        }

        .bottom_green::after {
            content: "";
            top: -2px;
            right: 19px;
            width: 28px;
            height: 33px;
            border-top: 2px solid white;
            position: absolute;
        }

        .articles {
            margin-top: 26px;
            border: 1px solid #e6e6e6;
            border-radius: 7px;
        }

        .main_articles {
            width: 221px;
            height: 51px;
            background: linear-gradient(0deg, #ececec, #ffffff);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            position: relative;
        }

        /* .main_articles::before {
            content: "";
            bottom: -10px;
            left: 14px;
            position: absolute;
            border-right: 0px solid transparent;
            border-left: 10px solid transparent;
            border-top: 11px solid #ececec;
        } */
         .main_articles::before {
            content: "";
            bottom: -7px;
            left: 14px;
            position: absolute;
            border-right: 0px solid transparent;
            border-left: 10px solid transparent;
            border-top: 7px solid #ececec;
            box-shadow: #e6e6e6 1px 0px;
            transform: rotate(361deg);
        }
        .main_articles::after {
            content: "";
            bottom: -5px;
            left: 18px;
            position: absolute;
            border-right: 0px solid transparent;
            border-left: 10px solid transparent;
            border-top: 11px solid transparent;
            box-shadow: #e6e6e6 1px 0px;
            transform: rotate(125deg);
        }

        h2 {
            padding: 16px 0 20px 14px;
        }
        .articles .a {
            color: #0686c4;
            padding: 14px 15px 5px 30px;
            font-size: 12px;
            display: flex;
            flex-direction: column;
        }

        .a a {
            padding-bottom: 17px;
            resize: none;
            font-family: Arial, Helvetica, sans-serif;
            color: #0686c4;
            position: relative;
        }

        .a a:hover {
            color: red;
        }

        .a a::before {
            content: ">>";
            color: red;
            top: 0px;
            left: -19px;
            position: absolute;
        }

        .yandex_direct {
            margin-top: 21px;
            border: 1px solid #e6e6e6;
            border-radius: 7px;
            padding: 11px 9px 10px 6px;
        }

        .ya_d {
            font-size: 10px;
            display: flex;
            justify-content: space-between;
            padding: 5px 3px 0px 13px;
            position: relative;
            z-index: 5;
        }

        .ya_d a {
            color: black
        }

        .ya_d span {
            position: relative;
            z-index: 5;
        }

        .ya_d::before {
            content: "";
            width: 68px;
            height: 15px;
            top: 2px;
            left: 11px;
            position: absolute;
            background: #feeac7;
        }

        .ya_d::after {
            content: "";
            top: 2px;
            left: 79px;
            position: absolute;
            border-bottom: 7px solid transparent;
            border-top: 8px solid transparent;
            border-left: 9px solid #feeac7;
        }

        .advertising div {
            padding: 0px 9px 10px 15px;
            position: relative;
        }

        .advertising div a {
            font-size: 10px;
            display: block;
            color: #006600;
        }

        .advertising .a_main { 
            display: inline;
            font-size: 20px;
            color: #617fe2;
            padding-bottom: 11px;
            font-family: Arial, Helvetica, sans-serif;
           
        }

        .advertising .icon_ya{
            width: 24px;
            height: 24px;
            display: inline-block;    
            background: url("../img/sprites.png") no-repeat  -10px -102px;
            padding: 0;
            position: relative;
            bottom: -7px;
        }

        .advertising .icon_ya_two{
            width: 20px;
            height: 18px;
             display: inline-block;    
            background: url("../img/sprites.png") no-repeat -10px -140px;
            padding: 0;
            position: relative;
            bottom: -3px;
        }
        .advertising span {
            display: inline-block;
            padding-bottom: 6px;
            padding-top: 6px;
        }

        .bottom_red {
            width: 223px;
            height: 38px;
            font-size: 12px;
            border: 2px solid red;
            border-radius: 10px;
            background: linear-gradient(0deg, #ececec, #ffffff);
            /* border-image: linear-gradient(#8be787, #77bd8a); */
            /* border-image-slice: 1; */
            position: relative;
        }

        .bottom_red a {
            padding: 13px 65px 12px 14px;
            display: block;
            color: red;
        }

        .bottom_red::before {
            content: "";
            top: -16px;
            right: 24px;
            width: 30px;
            height: 33px;
            background: url("../img/sprites.png") -10px -315px;
            position: absolute;
            z-index: 5;
        }

        .bottom_red::after {
            content: "";
            top: -2px;
            right: 19px;
            width: 28px;
            height: 33px;
            border-top: 2px solid white;
            position: absolute;
        }

        .vk {
            margin-top: 0px;
            border: 1px solid #e6e6e6;
            border-radius: 7px;
            padding: 15px;
        }

        .border {
            border: 1px solid #d8dee4;
        }

        .header_vk {
            background: #dae2e8;
            color: #7b7f95;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            padding: 5px 5px 4px 10px;
        }

        .icon_vk {
            width: 15px;
            height: 17px;
            background: url("../img/sprites.png") no-repeat -10px -65px;
            padding-right: 3px;
        }

        .main_vk {
            display: flex;
            font-size: 12px;
        }

        .icon_main {
            width: 46px;
            height: 45px;
            background: url('../img/sprites.png') no-repeat -10px -368px;
            margin: 7px 0 0 10px;
        }

        .main_vk span {
            padding: 7px 40px 10px 5px;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
            color: #608190;
        }

        .people {
            display: flex;
            padding: 10px 0 10px 5px;
        }

        .img_people {
            width: 171px;
            height: 144px;
            background: url("../img/people.png")no-repeat;
        }

        .cmc {
            display: flex;
            background: #eef2f5;
            font-size: 10px;
            padding: 2px 0 2px 2px;
        }

        .cmc span {
            padding-top: 4px;
            color: #7892b7;
        }

        .articles_news {
            border: 1px solid #e6e6e6;
            border-radius: 7px;

        }

        .main_articles_news {
            display: block;
            background: linear-gradient(0deg, #ececec, #ffffff);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            position: relative;
            border-bottom: 1px solid #e6e6e6;
            
        }

        .main_articles_news::before {
            content: "";
            bottom: -7px;
            left: 14px;
            position: absolute;
            border-right: 0px solid transparent;
            border-left: 10px solid transparent;
            border-top: 7px solid #ececec;
            box-shadow: #e6e6e6 1px 0px;
            transform: rotate(361deg);
        }
        .main_articles_news::after {
            content: "";
            bottom: -5px;
            left: 18px;
            position: absolute;
            border-right: 0px solid transparent;
            border-left: 10px solid transparent;
            border-top: 11px solid transparent;
            box-shadow: #e6e6e6 1px 0px;
            transform: rotate(125deg);
        }

        .h2_news {
            padding: 15px 0 15px 13px;
        }

        .news {
            padding: 5px 15px 15px 15px;
        }

        .img_new {
            padding: 13px 6px 0 0px;
        }

        .info_news {
            padding: 16px 11px 0 0;
        }

        .span_main a {
            color: #0174bd;
            font-size: 14px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
               padding: 0 0px 17px 5px;
            display: block;
        }
        .span_main a:hover{
            color: red;
            
        }

        .span_a {
                color: rgb(149, 149, 149);
                font-size: 12px;
                padding: 0px 0 15px 6px;
                display: block;
        }

        .span_a a {
            color: #959595;
            font-size: 12px;
        }

        .span_text {
            font-size: 12px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            padding: 7px 0px 0px 5px;
            display: block;
        }

        .botton_comm {
            display: flex;
            justify-content: space-between;
                padding: 12px 0px 0 5px;
        }

        .botton_comm input[type="button"] {
            padding: 3px 10px 5px 19px;
            border-radius: 5px;
            border: 0px solid transparent;
            box-shadow: 0px -3px #01b6ef;
            color: white;
            font-size: 12px;
            background-image: linear-gradient(to top, #0072bc 0%, #0b96ca 100%);
        }
         .botton_comm input[type="button"]:hover{
             background:#03ade8;
         }

        .botton_comm .com {
            color: #959595;
            font-size: 12px;
            padding-right: 5px;
            padding-top: 5px;
        }

        .botton_comm span+span {
            color: #0583c3;
            font-size: 18px;
        }

        .post {
            display: flex;
            padding-bottom: 15px;
            border-bottom: 1.5px dotted grey;
        }
        .a_end {
            display: flex;
            justify-content: space-between;
            padding-top: 32px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .start{
            font-size: 18px;
            color: black;
            padding-left: 16px;
            position: relative;
        }
        .start:before {
            content: "";
            width: 10px;
            height: 10px;
            bottom: 0;
            left: 0;
            background: url("../img/sprites.png") no-repeat -10px -10px;
            position: absolute;
        }
        .start:hover {
            color: red;
        }
        .adress li {
            display: inline-block;
            padding: 0 5px;
            font-size: 12px;
        }
        .adress li a {
            color: black;
        }
        .adress li a:hover {
            color: red;
        }
         .adress li a:focus{
            color: #349bdf;
            font-size: 18px;
            text-decoration: none;
        }
        .end{
            font-size: 18px;
            color: black;
            padding-right: 16px;
            position: relative;
        }
        .end:before {
            content: "";
            width: 10px;
            height: 10px;
            bottom: 7px;
            right: 0;
            background: url("../img/sprites.png") no-repeat -10px -10px;
            transform: rotate(180deg);
            position: absolute;
        }

        .end:hover {
            color: red;
        }
        /* footer #########################################################*/

        .footer {
            padding: 21px 0 20px 14px;
            width: 1000px;
            margin: 0 auto;
        }

        .footer_end {
            width: 1000px;
            margin: 0 auto;
        }

        .footer_end .wrapper {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            color: #848484;
        }

        .left span {
            display: block;
        }

        .center {
            display: block;
            padding-right: 190px;
        }
        .center li{
            list-style: inside;
        }

        .center a {
            color: #848484;
        }

        .ct_a {
            display: flex;
        }

        .right {
            display: flex;
        }

        .right span {
            display: block;
            text-align: right;
            padding-left: 5px;
        }

        .right .study {
            padding-left: 50px;
            padding-right: 2px;
        }

        .footer_icon {
            width: 28px;
            height: 24px;
            background: url("../img/sprites.png") no-repeat -10px -218px;
        }